pyrogram
tgcrypto
python-decouple 
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
humanize==4.6.0
speedtest==0.0.1 
bs4
wheel  

git+https://github.com/Joelkb/cinemagoer
datetime
pytz
aiohttp
 
ffmpeg-python>=0.2.0 
jinja2 
gunicorn==20.1.0 
werkzeug==2.0.2 
Flask 
Pillow==9.4.0
dnspython==2.3.0 
Pillow==9.4.0
PyLeaves==1.0.2
itsdangerous==2.0.1 
countryinfo
search_engine_parser
umongo==3.1.0 
apscheduler 
psutil==5.9.4  
NumPy  
colorama